.buttons {
  margin-bottom: 25px !important;
}
@media (max-width: 700px) {
  .buttons {
    font-size: 18px !important;
  }
}
@media (max-width: 440px) {
  .buttons {
    font-size: 14px !important;
  }
}
