.heroContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: contain;
  align-items: center;
  margin-bottom: 110px !important;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.title {
  position: absolute;
  color: snow;
  top: 135px;
  font-weight: 350 !important;
}
.button {
  position: absolute !important;
  top: 275px;
  color: snow !important;
  border-color: snow !important;
}

@media (max-width: 940px) {
  .heroContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
    align-items: center;
  }
  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .title {
    position: absolute;
    color: snow;
    top: 135px;
    font-weight: 350 !important;
    font-size: 70px !important;
  }
  .button {
    position: absolute !important;
    top: 300px;
  }
}

@media (max-width: 710px) {
  .heroContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
    align-items: center;
    margin-bottom: 110px !important;
  }
  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .title {
    position: absolute;
    color: snow;
    top: 135px;
    font-weight: 350 !important;
    font-size: 55px !important;
  }
  .button {
    position: absolute !important;
    top: 300px;
  }
}
@media (max-width: 550px) {
  .heroContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
    align-items: center;
  }
  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .title {
    position: absolute;
    color: snow;
    top: 135px;
    font-weight: 350 !important;
    font-size: 35px !important;
  }
  .button {
    position: absolute !important;
    top: 300px;
  }
}
