.title {
  margin: 75px !important;
}

@media (max-width: 900px) {
  .title {
    font-size: 25px !important;
  }
}
@media (max-width: 700px) {
  .title {
    margin-top: 0px !important;
  }
}
html {
  scroll-behavior: smooth;
}
